.App-content {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  margin-bottom: 70px;
}

.ui.table {
  width: 60%;
  font-size: 0.75em;
}

p {
  font-size: 0.75em;
}

.page-footer {
  position: fixed;
  bottom: 0;
}
